*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --myColor1 : #f34c5e;
  --myColor2: #30c0d3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

.header{
  background-color: var(--myColor1);
  color: #eee;
  
  min-height: 50vh;
  /* padding: 100px; */

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.header__wrapper {
  width: 80%;
}

.header__wrapper h1{
  font-size: 46px;
  font-weight: 300;
  color: white;
}

.todo{
  padding: 20px 15%;
  
}

.todo__input{
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
}

.todo__input input{
  margin-right: 20px;
  padding: 20px;
  height: 20px;
  width: 250px;

  outline: none;
  transition: .5s ease;
  border: 2px solid #eee;
}

.todo__input input:focus{
  border: 2px solid var(--myColor1)
}

.todo__input label{
  position: absolute;
  top: 0;
  left: 35%;

  transform: translateY(45%);
  user-select: none;
  color: #999;

  pointer-events: none;
  transition: .5s ease;
}

.todo__input button{
  position: relative;

  padding: 12px;
  color: var(--myColor2);
  border: 1px solid var(--myColor2);
  cursor: pointer;
}

.todo__input button::before{
  content: "";

  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  transform: scaleX(0);
  opacity: 0.6;

  transition: transform .4s ease;
  transform-origin: center right;
}

.todo__input button:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
  transition: transform .4s ease;
}

.todo__content{
  text-align: center;
  padding: 20px
}

.todo__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo__item{
  display: flex;
  position: relative;
  border: 1px solid #999;
  padding: 4px;

  width: 300px;
  min-height: 24px;
  margin: 10px 0;
}

.todo__item img{
  width: 30px;
  height: auto;
  background-color: var(--myColor1);
  border-radius: 2px;
  right: -2px;
  top: 0;

  position: absolute;
  cursor: pointer;
}

.todo__item label{
  padding-left: 30px;
  cursor: pointer;
}

.text-through{
  text-decoration: line-through;
}

.todo__input input:not(:placeholder-shown) + label,
.todo__input input:focus + label{
  transform: translateY(-50%);
  display: inline-block;

  background-color: white;
  padding: 0 15px;
  border-radius: 5px;
}